$vs-component-line-height: 1.85;

$vs-state-active-bg: #ECF2FF;
$vs-state-active-color: #000;

$vs-border-radius: 5px;
$vs-border-color: rgba(#323990, 0.25);

$vs-dropdown-min-width: 160px;
$vs-dropdown-max-height: 200px;
